.container{
  display: flex;
  flex-direction: column;
  margin-left: 2vw;
}

.cont{
  display: flex;
  margin-right: 2vw;
}

.image{
  margin-right: 2vw;
  margin-top: 3vh;
}

h1{
  display: flex;
  justify-content: center;
  font-size: 3vw;
  color: brown;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
}